.m-nodes {
  .cache {
    display: inline-block;
    padding: 4px 8px;
    vertical-align: middle;
    font-size: 18px;
    color: #4cae4c;
    background-color: #fff;
    border: 1px solid #4cae4c;
    border-radius: 4px;
    cursor: pointer;
    &.active {
      background-color: #E6F9FF;
      border-color: #46b8da;
      color: #46b8da;
    }
    &:hover {
      background-color: #DBFFDB;
    }
  }
  .cache + .cache {
    margin-left: 8px;
  }
  .process-bar {
    width: 10px;
    height: 3px;
    border: none;
    background-color: #46b8da;
    transition: all 0.2s;
  }
}
