.m-table {
  position: relative;
  width: 100%;
  overflow-x: auto;
  h3, h4 {
    text-align: center;
  }
  .u-table {
    margin: 0 auto;
    width: 980px;
    overflow-x: auto;
  }
  table {
    margin: 20px auto;
    min-width: 100%;
    border-collapse: collapse;
    scroll: auto;
    thead {
      background-color: #DBFFDB;
    }
    tr:nth-of-type(2n) {
      background-color: #E6F9FF;
    }
    td {
      padding: 4px 6px;
      min-width: 100px;
      border: 1px solid #ccc;
      text-align: center;
    }
  }
  .my-pagination {
    li {
      margin: 4px;
      vertical-align: middle;
    }
  }
}
